@{
    ViewData["ProjectTitle"] = "Our First Blog";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] - @ViewData["ProjectTitle"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <meta name="viewport" content="width = device - width, initial-scale = 1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <meta charset="utf-8">
</head>

<body>
<header class="header">
   <div class="container">
      <div class="header__wrapper">
         <a href="#" class="header__logo">@ViewData["ProjectTitle"]</a>
         <nav class="main-nav">
            <button class="main-nav__button main-nav__button--closed"></button>
            <ul class="main-nav__list main-nav__list--closed">
               <li><a href="#" class="main-nav__item">First</a></li>
               <li><a href="#" class="main-nav__item">Second</a></li>
               <li><a href="#" class="main-nav__item">Third</a></li>
               <li><a href="#" class="main-nav__item">Fourth</a></li>
            </ul>
         </nav>
      </div>
   </div>
</header>


	<main role="main" class="container">
        @RenderBody()
	</main>

<footer class="footer">
   <div class="container">
      <h2 class="footer__title">Made by</h2>
      <div class="footer__content authors">
         <div class="authors__column">
            <h3 class="authors__title">stenex</h3>
            <ul class="authors__links">
               <li>
                  <a href="https://github.com/MaxStenex" class="authors__link" target="_blank">
                     <img src="img/footer/icons/github.svg" alt="">
                  </a>
               </li>
            </ul>
         </div>
         <div class="authors__column">
            <h3 class="authors__title">hrederik</h3>
            <ul class="authors__links">
               <li>
                  <a href="https://github.com/hrederik" class="authors__link" target="_blank">
                     <img src="img/footer/icons/github.svg" alt="github">
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>

	<script type="text/javascript" src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>