@{
    ViewData["ProjectTitle"] = "Our First Blog";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] - @ViewData["ProjectTitle"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <meta name="viewport" content="width = device - width, initial-scale = 1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <meta charset="utf-8">
</head>

<body>
    	<header class="header">
   <div class="container">
      <div class="header__wrapper">
         <a href="#" class="header__logo">@ViewData["ProjectTitle"]</a>
         <nav class="main-nav">
            <button class="main-nav__button main-nav__button--closed"></button>
            <ul class="main-nav__list main-nav__list--closed">
               <li><a href="#" class="main-nav__item">First</a></li>
               <li><a href="#" class="main-nav__item">Second</a></li>
               <li><a href="#" class="main-nav__item">Third</a></li>
               <li><a href="#" class="main-nav__item">Fourth</a></li>
            </ul>
         </nav>
      </div>
   </div>
</header>


	<main role="main" class="container">
        @RenderBody()
	</main>


	<script type="text/javascript" src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>